<div class="bg-gradient-to-r from-cyan-300 to-indigo-300 p-16">
    <div class="w-full max-w-xl mx-auto my-16">
        <div class="rounded-3xl overflow-hidden shadow-xl max-w-lg my-3 bg-blue-500">
            <img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
        <div class="flex justify-center -mt-8">
            <img src="https://i.imgur.com/8Km9tLL.jpg" class="rounded-full border-solid border-white border-2 -mt-3">		
        </div>
        <div class="text-center px-3 pb-6 pt-2">
            <h3 class="text-white text-sm bold font-sans">{{ customer.fullName }}</h3>
            <p class="mt-2 font-sans font-light text-white">Address: {{ customer.address }}</p>
            <p class="mt-2 font-sans font-light text-white">Phone: {{ customer.phone }}</p>
        </div>
            <div class="flex justify-center pb-3 text-white">
                <div class="text-center">
                    <a 
                        routerLink="/customer" 
                        class="text-center hover:underline text-white font-bold"
                    >
                        Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>